{% extends 'bootstrap/base.html' %}

{% block title %}cafes{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">{{cafes[0][0]}}</th>
              <th scope="col">{{cafes[0][1]}}</th>
              <th scope="col">{{cafes[0][2]}}</th>
              <th scope="col">{{cafes[0][3]}}</th>
              <th scope="col">{{cafes[0][4]}}</th>
              <th scope="col">{{cafes[0][5]}}</th>
              <th scope="col">{{cafes[0][6]}}</th>
            </tr>
          </thead>
          <tbody>

            {% for cafe in cafes[1:]: %}
            <!-- This is where you will write the code to render a Bootstrap
            Table that contains all the information from the
            cafe-data.csv file. -->
            <tr>
              <td>{{cafe[0]}}</td>
              <td>{{cafe[1]}}</td>
              <td>{{cafe[2]}}</td>
              <td>{{cafe[3]}}</td>
              <td>{{cafe[4]}}</td>
              <td>{{cafe[5]}}</td>
              <td>{{cafe[6]}}</td>
            </tr>

            {% endfor %}

          </tbody>
        </table>


      <p><a href="#">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
