<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<title>Gustavo Afonso</title>
		<link rel="stylesheet" href="static/styles.css">
		<link rel="icon" href="favicon.ico">
	</head>
	<body>
	<div class="top-container">
		<img class="top-cloud" src="static/cloud.png" alt="cloud-image">
		<h1>I'm Gustavo</h1>
		<h4>A software engineering student</h4>
		<img class="bottom-cloud" src="static/cloud.png" alt="cloud-image">
		<img src="static/mountain.png" alt="mountain-image">
	</div>

	<div class="middle-container">
	  <div class="profile">

        <table cellspacing="20">
            <tr>
                <td>
					<img src="static/gustavo.png" alt="profile-picture" width="100px" height="100px">
		        </td>
                <td>
					<h2>Hello.</h2>
					<p>Lorem ipsum dolor sit amet, vitae volutpat, dui conubia, dolor urna. Non auctor, montes nulla distinctio.</p>
                </td>
            </tr>
        </table>
	  </div>

	  <hr>

	  <div class="skills">
		<h2>My Skills.</h2>
		<div class="skill-row">
		  <img class="skills-image" src="static/computer.png" alt="computer-image">
		  <h3>Lorem & Ipsum</h3>
		  <p>Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
		</div>
		<div class="skill-row">
		  <img class="projects-image" src="static/chillies.png" alt="chillies-image">
		  <h3>Lorem Ipsum Dolor</h3>
		  <p>Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel eu, rutrum nam.</p>
		</div>
	  </div>
	  <hr>
	  <div class="contact-me">
		<h2>Get In Touch</h2>
		<h3>Lorem ipsum dolor sit amet, non elit.</h3>
		<p>Lorem ipsum dolor sit amet, in quis, aenean amet. Phasellus sodales, tellus donec dui, ornare erat.</p>
		<a class="btn" href="mailto:name@email.com">CONTACT ME</a>
	  </div>
	</div>


	<div class="bottom-container">
	  <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
	  <a class="footer-link" href="https://twitter.com/">Twitter</a>
	  <p>© 2021 Gustavo Severo.</p>
	</div>
	</body>
</html>